This project is a take home assignment for Parakeet's Full Stack Software Engineer position. The solution should be simple but demonstrating deep understanding of software engineering techniques. 

# Documentation

- Refer to docs/Full-Stack Engineer Take-Home Assignment.md
- Refer to docs/High Level Architecture.md
- Refer to docs/Low Lever Architecture.md